/*HEADER STYLES*/

header{
    padding: 20px;
}
#header{
    min-height: 300px;
}
.header-btn a {
    color: #812222;
}

.header-btn a:hover{
    width: 50px;
    font-size: 1.2em;
    color: brown;
    height: 100%;
}

/*MAIN STYLES*/

body{
    background: #7baea5;
    padding: 75px 0 0 0;
    color: #812222;
}

#col1:hover{
    padding: 10px;
    background: red;
}

/*FOOTER STYLES*/

footer{
    padding: 0 0 100px 0;
    min-height: 250px;
}

footer a{
    color: #812222;
}

/*BOOTSTRAP STYLES*/
.navbar-fixed-top{
    background: #812222;
}