/*COLOR PALETTE*/
body-bg: #34495e;
body-text: #fff;
body-text-hover: #abb2c3; 

/*HEADER STYLES*/

header{
    padding: 20px;
}

.header-btn a {
    color: #01161E;
}

.header-btn a:hover{
    width: 50px;
    color: #abb2c3;
    height: 100%;
}

/*MAIN STYLES*/

body{
    background: #34495e;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

h1, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#about h3:hover {
    color: #abb2c3;
}

#Projects img{
    margin: 15px;
    padding: 5px;
}

#Projects h3:hover {
    color: #abb2c3;
}

p{
    color: #abb2c3;
}
/*FOOTER STYLES*/

footer{
    padding: 20px;
    min-height: 250px;
    
}

footer a{
    color: #812222;
}

/*BOOTSTRAP STYLES*/
.navbar-inner{
    background: transparent;
}

.navbar-brand{
    color: #abb2c3 !important;
    font-size: 1.7em;

}
.navbar-brand:hover{
    color: #fff !important;
}

.navbar {
    border: none;
}

.navbar-nav li a{
    color: #abb2c3 !important;
    font-size: 1.15em;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
.navbar-nav li a:hover{
    
    color: #fff !important;
    border-bottom: 2px solid #335C67 !important;
}

.navbar-nav li a:focus, .navbar-nav li a:active{
    text-shadow: 2px 2px 10px #335C67 !important;
}