/*HEADER STYLES*/

header{
    padding: 20px;
}

.header-btn a {
    color: #812222;
}

.header-btn a:hover{
    width: 50px;
    font-size: 1.2em;
    color: brown;
    height: 100%;
}

/*MAIN STYLES*/

body{
    background: #7baea5;
    padding: 75px 0 0 0;
    color: #812222;
}

#col1:hover{
    padding: 10px;
    background: red;
}

/*FOOTER STYLES*/

footer{
    padding: 20px;
    min-height: 250px;
    background: #83d0c9;
}

footer a{
    color: #812222;
}

/*BOOTSTRAP STYLES*/
.navbar-inner{
    background: transparent;
}

.navbar-brand{
    color: #812222 !important;
    font-size: 1.7em;
}
.navbar-brand:hover{
    color: floralwhite !important;
}

.navbar {
    border: none;
}

.navbar-nav li a{
    color: #812222 !important;
    font-size: 1.15em;
}
.navbar-nav li a:hover{
    
    color: floralwhite !important;
}

.navbar-nav li a:focus, .navbar-nav li a:active{
    border-bottom: 2px solid #812222 !important;
}